@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
}

.navigation {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1em 2em 2em 10em;
    font-size: 18px;
}

.navigation .left-nav,
.navigation .right-nav {
    display: flex;
    gap: 2em;
}

.navigation .left-nav .list-item > *,
.navigation .right-nav .list-item > * {
    text-decoration: none;
    color: black;
}

.navigation .right-nav .list-item .sign-up {
    background-color: #ade2df;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.download {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ade2df;
    text-align: center;
    gap: 2em;
}

.download .title {
    flex: 1 1 100%;
    font-size: 64px;
    margin-top: 1em;
}

.download .info {
    flex: 1 1 100%;
    font-size: 24px;
}

.download .btn-download {
    background-color: black;
    color: white;
    padding: 1em 2em;
    border-radius: 0.5em;
    margin: 2em 0 6em 0;
}

.download .btn-download .fa-brands{
    margin-right: 0.5em;
}

.features {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
}

.features .info {
    width: 25%;
    border-right: 1px solid gray;
}

.features .info .title {
    font-size: 32px;
    margin-bottom: 0.5em;
}

.features .info .text {
    margin: 0 1em 3em 0;
}

.features .info:nth-of-type(1) {
    border-left: 1px solid gray;
}