* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

span {
    border: 1px solid black;
    padding: 1em 1em 5em;
    text-align: center;
    flex-grow: 1;
}

section {
    display: flex;
}

.notes {
    flex-direction: column;
    flex-grow: 1;
}

.container {
    display: flex;
    max-width: 65vw;
    margin: 2em;
}

.week {
    flex-wrap: wrap;
}

.week > span:nth-child(1),
.week > span:nth-child(7) {
    flex-basis: 100%;
    padding-bottom: 3em;
}
