.enterprise {
	display: flex;
	flex-direction: column;
	background-color: #d9d9d9;
	gap: 2em;
	padding: 2em 0 2em 4em;
}

.enterprise-card {
	display: flex;
	gap: 2em;
}

.enterprise-card .media {
	width: 30%;
}

.enterprise-card .card-content h4 {
	padding: 1em 0 2em 0;
	color: gray;
}

.enterprise-card .card-content h3 {
	font-size: 2em;
    padding-bottom: 2em;
}

.enterprise-card .card-content h3 + p {
    width: 81ch;
	color: gray;
}

.enterprise-card .card-content p:nth-of-type(2) {
    font-weight: bold;
    padding-bottom: 5em;
}

.enterprise-card .card-content p:nth-of-type(3) {
    color: gray;
}