@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

footer {
    background-color: #d9d9d9;
    padding: 2em;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    list-style: none;
    font-size: 1.4em;
}