.viewport {
	height: 100vh;
	position: relative;
}

.card {
	border: 1px solid black;
	border-radius: 6px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    overflow: hidden;
}

.card--shadow {
    display: block;
    background: rgb(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.5) inset;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.fa-solid{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding-bottom: 5px;
    padding-right: 5px;
}

.card img {
	width: 300px;
	height: auto;
	display: block;
}

.card--shadow:hover{
    opacity: 0;
}

.viewport:nth-child(1) {
	background: linear-gradient(to right, purple, orange);
}

.viewport:nth-child(2):nth-child(2) {
	background: linear-gradient(to right, blue, #41caa1);
}
