header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 2rem 8rem;
    font-weight: bold;
    font-size: 1.5rem;
}

header ul {
    display: flex;
    gap: 2rem;
}

header ul li {
    list-style: none;
}